# enviornments/configs
*.env

# IDEs
.idea
.idea/
.vscode
.vscode/

#python env
.venv
.venv/
venv/

# Bytecode caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/

# Logs
*.log

#data
*.zip
*.csv
*.txt
*.txt.pt
*.jpg
*.png
mappings.pkl
*.pt