.movie-card{
    box-shadow: 3px 3px 5px gray;
    text-align: center;
}

.movie-card-image-container{
    background-color: rgb(30, 30, 66);
    width: 100%;
    aspect-ratio: 67/98;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}

.movie-card img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
}

