.recommendations-container{
    text-align: center;
}

.description-recommendation-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.description-input{
    width: 100%;
    height: 100px;
    padding: 5px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    border-radius: 10px;
    border: 2px solid rgb(41, 41, 100);
    background-color:rgba(103, 103, 184, 0.11)
}

.rec-btn{
    color: white;
    background:rgb(41, 41, 100);
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.rec-btn:hover{
    cursor:pointer;
    background:rgb(71, 71, 155);
    transition: background-color 0.3s ease;
}

