.nav-container{
    background-color: rgb(31, 31, 76);
    height: 80px;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 2rem;

}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: white;
}

.title-logo-link{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}