
.search-control{
    --search-height: 40px;
    color: white;
    height: var(--search-height);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 250px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}
.search-bar{
    height: 30px;
    font-size: 1.3rem;
    padding: 15px 5px;

}

.search-icon{
    height: calc(var(--search-height) * 0.65);
    aspect-ratio: 1;
    position: absolute;
    right: 0px;
}

.search-bar:focus{
    outline: none;
}