.movie-card{
    box-shadow: 3px 3px 5px gray;
    text-align: center;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.movie-card:hover{
    cursor:pointer;
    transform: scale(1.1);
    transform-origin: center center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 5px 10px rgb(202, 202, 202);
}

.movie-card-image-container{
    background-color: rgb(30, 30, 66);
    width: 100%;
    aspect-ratio: 67/98;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    overflow: hidden;
}

.movie-card img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    aspect-ratio: 67/98;
}

.movie-card-title{
    height: 3rem;

}

.movie-card-select-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(211, 185, 69, 0.678);
    aspect-ratio: 67/98;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.remove-transparency{
    opacity: 1;
    transition: opacity 0.2s ease;
}

